<head><link rel="stylesheet" href="/CSS/produtos.css"></head>
<body>
    {{#if estoque}}
    <h1>Estoque</h1>
    <div class="produtos">
    {{#each estoque}}
                <div class="itens">
                    <div class="dados">
                        <h3>Nome: </h3><h4>{{nome}}</h4>
                        <h3>Tipo:</h3><h4>{{tipo}}</h4>
                        <h3>Setor:</h3><h4>{{setor}}</h4>
                        <h3>Descrição:</h3><h4>{{descricao}}</h4>
                    </div>
                {{!-- <input type="checkbox" name="" id="checkbox">  --}}
                </div>
    {{/each}}
            </div>
    {{else}}
    <h2>Nenhum material de estoque foi cadastrado ainda!</h2>
    <button class="botao" onclick="window.location.href='/cadastro/estoque'">Clique aqui para cadastrar</button>
    {{/if}}
</body>