<head><link rel="stylesheet" href="/CSS/produtos.css"></head>
<body>
    {{#if estoque}}
    <h1>Estoque</h1>
    <div class="produtos">
    {{#each estoque}}
                <div class="itens">
                    <div class="dados">
                        <div class="texto">
                            <span>Nome: </span><span class="campo">{{nome}}</span>
                        </div>
                        <div class="texto">
                            <span>Tipo: </span><span class="campo">{{tipo}}</span>
                        </div>
                        <div class="texto">
                            <span>Setor: </span><span class="campo">{{setor}}</span>
                        </div>
                        <div class="texto">
                            <span>Descrição: </span><span class="campo">{{descricao}}</span>
                        </div>
                    </div>
                {{!-- <input type="checkbox" name="" id="checkbox">  --}}
                </div>
    {{/each}}
            </div>
    {{else}}
    <h2>Nenhum material de estoque foi cadastrado ainda!</h2>
    <button class="botao" onclick="window.location.href='/cadastro/estoque'">Clique aqui para cadastrar</button>
    {{/if}}
</body>