<body>
    <input type="button" onclick="window.location.href = 'javascript:history.back()'" value="Voltar">
    <h1>Cardapio</h1>

    {{#each lanche}}
        <input type="checkbox" name="" id=""> 
        <fieldset>
            {{nome}}
            {{preco}}
            {{molho1}}
            {{molho2}}
            {{descricao}}
        </fieldset>
    {{/each}}
</body>