<body>
    <h1>lanches</h1>

    {{#each lanche}}
        <fieldset>
            {{nome}}
            {{preco}}
            {{molho1}}
            {{molho2}}
            {{descricao}}
        </fieldset>
    {{/each}}
</body>