<body>
    <input type="button" onclick="window.location.href = 'javascript:history.back()'" value="Voltar">
    <h1>Cardapio</h1>

    {{#each lanche}}
        <input type="checkbox" name="" id=""> 
        <fieldset>
            <p>Nome: {{nome}}</p>
            <br>
            <p>Preço: {{preco}}</p>
            <br>
            <p>Molho: {{molho1}}</p>
            <br>
            <p>Molho: {{molho2}}</p>
            <br>
            <p>Descriçoes{{descricao}}</p>
        </fieldset>
    {{/each}}
</body>