<head><link rel="stylesheet" href="/CSS/produtos.css"></head>
<body>
    {{#if lanche}}
    <h1>Cardapio</h1>
            <div class="produtos">
    {{#each lanche}}
                <div class="itens">
                    <div class="dados">
                        <div class="texto">
                            <span>Nome: </span><span class="campo">{{nome}}</span>
                        </div>
                        <div class="texto">
                            <span>Preço: </span><span class="campo">R${{preco}},00</span>
                        </div>
                        <div class="texto">
                            <span>Molho: </span><span class="campo">{{molho1}}</span>
                        </div>
                        <div class="texto">
                            <span>Molho: </span><span class="campo">{{molho2}}</span>
                        </div>
                        <div class="texto">
                            <span>Descrição: </span><span class="campo">{{descricao}}</span>
                        </div>
                    </div>
                    <input type="checkbox" name="" id="checkbox"> 
                </div>
                
    {{/each}}
            </div>
    {{else}}
    <h2>Nenhum lanche foi cadastrado ainda!</h2>
    <button class="botao" onclick="window.location.href='/cadastro/lanche'">Clique aqui para cadastrar</button>
    {{/if}}
</body>